@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Light.woff2') format('woff2'),
      url('./fonts/SourceSansPro-Light.woff') format('woff'),
      url('./fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
      url('./fonts/SourceSansPro-SemiBoldItalic.woff') format('woff'),
      url('./fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Black.woff2') format('woff2'),
      url('./fonts/SourceSansPro-Black.woff') format('woff'),
      url('./fonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Italic.woff2') format('woff2'),
      url('./fonts/SourceSansPro-Italic.woff') format('woff'),
      url('./fonts/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
      url('./fonts/SourceSansPro-SemiBold.woff') format('woff'),
      url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
      url('./fonts/SourceSansPro-ExtraLightItalic.woff') format('woff'),
      url('./fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Bold.woff2') format('woff2'),
      url('./fonts/SourceSansPro-Bold.woff') format('woff'),
      url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
      url('./fonts/SourceSansPro-BoldItalic.woff') format('woff'),
      url('./fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-BlackItalic.woff2') format('woff2'),
      url('./fonts/SourceSansPro-BlackItalic.woff') format('woff'),
      url('./fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-LightItalic.woff2') format('woff2'),
      url('./fonts/SourceSansPro-LightItalic.woff') format('woff'),
      url('./fonts/SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
      url('./fonts/SourceSansPro-ExtraLight.woff') format('woff'),
      url('./fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('./fonts/SourceSansPro-Regular.woff') format('woff'),
      url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 8px;
  -webkit-transition: color 0.25s ease;
}